:root {
    --brown-regular: oklch(55% 0.09 70);   
    --brown-light:   oklch(70% 0.08 75);   
    --brown-lightest: oklch(88% 0.05 80);  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgreen;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    border: 1px solid black;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: whitesmoke;
}


.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: var(--brown-light);
    display: grid;
    grid-template-rows: 2fr repeat(6, 1fr) 2fr repeat(3, 1fr) 1fr;
}
.sidebar > div {
    color: whitesmoke;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.5em;
}
.sidebar .title {
    font-size: 2.5em;
}
.sidebar svg {
    width: 1.7em;
    height: 1.7em;
    margin-left: 0.5rem;
    fill: whitesmoke;
}

.content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--brown-lightest);
}